<form action="/" method="POST">
  <div class="container d-flex flex-column align-items-center">
    <input type="text" class="form-control" style="width:60%;" placeholder="Input URL here!" required>
    <button type="submit" class="btn mt-3" style="background-color: hsl(34deg 41% 52%);">Shorten</button>
  </div>
</form>