<div class="container">

  <h1>Success! Please use this link:</h1>
  <input type="shortenUrl" name="shortenUrl" id="shortenUrl" class="form-control" style="width:60%;"
    value="{{newShorten}}">

  <div class="d-flex justify-content-center">
    <button onclick="copyOnclick()" class="btn btn-primary " id="copyBtn">Copy</button>
  </div>
</div>