<div class="container">

  <h1>Success! Please use this link:</h1>
  <a href="{{newShorten}}">
    <h2 class="my-3 py-2 px-2" style="background-color:antiquewhite; border-radius:10px; border:none;">{{newShorten}}
    </h2>
  </a>

  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary ">Copy</button>
  </div>
</div>